* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*.container {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding-top: 30px;*/
/*}*/

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
